app/Lace/Lace.Source.RgtVin/Service References/RgtVinServiceReference/wsVinCheck1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rgt.co.za/systems/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.rgt.co.za/systems/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rgt.co.za/systems/">
      <s:element name="VinCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sVIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VinCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckSpecs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sVIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckSpecsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VinCheckSpecsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckSpecsFiltered">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sVIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSpecIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckSpecsFilteredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VinCheckSpecsFilteredResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VinCheckSoapIn">
    <wsdl:part name="parameters" element="tns:VinCheck" />
  </wsdl:message>
  <wsdl:message name="VinCheckSoapOut">
    <wsdl:part name="parameters" element="tns:VinCheckResponse" />
  </wsdl:message>
  <wsdl:message name="VinCheckSpecsSoapIn">
    <wsdl:part name="parameters" element="tns:VinCheckSpecs" />
  </wsdl:message>
  <wsdl:message name="VinCheckSpecsSoapOut">
    <wsdl:part name="parameters" element="tns:VinCheckSpecsResponse" />
  </wsdl:message>
  <wsdl:message name="VinCheckSpecsFilteredSoapIn">
    <wsdl:part name="parameters" element="tns:VinCheckSpecsFiltered" />
  </wsdl:message>
  <wsdl:message name="VinCheckSpecsFilteredSoapOut">
    <wsdl:part name="parameters" element="tns:VinCheckSpecsFilteredResponse" />
  </wsdl:message>
  <wsdl:portType name="wsVinCheckSoap">
    <wsdl:operation name="VinCheck">
      <wsdl:input message="tns:VinCheckSoapIn" />
      <wsdl:output message="tns:VinCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VinCheckSpecs">
      <wsdl:input message="tns:VinCheckSpecsSoapIn" />
      <wsdl:output message="tns:VinCheckSpecsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VinCheckSpecsFiltered">
      <wsdl:input message="tns:VinCheckSpecsFilteredSoapIn" />
      <wsdl:output message="tns:VinCheckSpecsFilteredSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsVinCheckSoap" type="tns:wsVinCheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VinCheck">
      <soap:operation soapAction="http://www.rgt.co.za/systems/VinCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheckSpecs">
      <soap:operation soapAction="http://www.rgt.co.za/systems/VinCheckSpecs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheckSpecsFiltered">
      <soap:operation soapAction="http://www.rgt.co.za/systems/VinCheckSpecsFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsVinCheckSoap12" type="tns:wsVinCheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VinCheck">
      <soap12:operation soapAction="http://www.rgt.co.za/systems/VinCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheckSpecs">
      <soap12:operation soapAction="http://www.rgt.co.za/systems/VinCheckSpecs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheckSpecsFiltered">
      <soap12:operation soapAction="http://www.rgt.co.za/systems/VinCheckSpecsFiltered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsVinCheck">
    <wsdl:port name="wsVinCheckSoap" binding="tns:wsVinCheckSoap">
      <soap:address location="http://ws.test.lightstoneauto.co.za/LIVE/wsVinCheck.asmx" />
    </wsdl:port>
    <wsdl:port name="wsVinCheckSoap12" binding="tns:wsVinCheckSoap12">
      <soap12:address location="http://ws.test.lightstoneauto.co.za/LIVE/wsVinCheck.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>