DDD/Domain.PackageBuilderModule.Entities/PackageBuilderModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--THIS SCHEMA WAS GENERATED BY THE ORM2 TOOL-->
<xs:schema id="Domain.PackageBuilderModule.Entities.PackageBuilderModel" elementFormDefault="qualified" targetNamespace="urn:Domain.PackageBuilderModule.Entities:PackageBuilderModel" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oxs="urn:Domain.PackageBuilderModule.Entities:PackageBuilderModel" xmlns="urn:Domain.PackageBuilderModule.Entities:PackageBuilderModel">
	<!--Each ORM ValueType with a value/range/length constraint-->
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Description">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Owner">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="State">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Under construction" />
			<xs:enumeration value="Published" />
			<xs:enumeration value="Expired" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Industry">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
			<xs:enumeration value="Banking" />
			<xs:enumeration value="Consumer" />
			<xs:enumeration value="Dealer" />
			<xs:enumeration value="Government" />
			<xs:enumeration value="Insurance" />
			<xs:enumeration value="Other" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CostOfSale">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Label">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Definition">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceURL">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>
	<!--Each ORM EntityType and it's Preferred Id or top level ValueType-->
	<xs:complexType name="OwnerIdentifier">
		<xs:attribute name="OwnerValue" use="required" type="oxs:Owner" />
	</xs:complexType>
	<xs:complexType name="IndustryIdentifier">
		<xs:attribute name="IndustryValue" use="required" type="oxs:Industry" />
	</xs:complexType>
	<xs:complexType name="PackageIdentifier">
		<xs:attribute name="Package_Id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="DataSourceIdentifier">
		<xs:attribute name="DataSource_Id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="DateFieldIdentifier">
		<xs:attribute name="DateField_Id" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="FileAttachmentIdentifier">
		<xs:attribute name="FileAttachment_Id" use="required" type="xs:integer" />
	</xs:complexType>
	<!--Each ORM Major Object Type grouping-->
	<xs:complexType name="OwnerFacts">
		<xs:complexContent>
			<xs:extension base="oxs:OwnerIdentifier">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndustryFacts">
		<xs:complexContent>
			<xs:extension base="oxs:IndustryIdentifier">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PackageFacts">
		<xs:complexContent>
			<xs:extension base="oxs:PackageIdentifier">
				<xs:sequence>
					<xs:element name="Owner" type="oxs:OwnerIdentifier" />
					<xs:element name="Industry" type="oxs:IndustryIdentifier" />
				</xs:sequence>
				<xs:attribute name="Name" type="oxs:Name" use="optional" />
				<xs:attribute name="Description" type="oxs:Description" use="optional" />
				<xs:attribute name="PackageBuilder_Id" type="xs:integer" use="optional" />
				<xs:attribute name="Created" type="xs:integer" use="optional" />
				<xs:attribute name="Edited" type="xs:integer" use="optional" />
				<xs:attribute name="Version" type="oxs:Version" use="optional" />
				<xs:attribute name="Published" type="xs:boolean" use="optional" />
				<xs:attribute name="State" type="oxs:State" use="optional" />
				<xs:attribute name="RevisionDate" type="xs:integer" use="optional" />
				<xs:attribute name="CostOfSale" type="oxs:CostOfSale" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataSourceFacts">
		<xs:complexContent>
			<xs:extension base="oxs:DataSourceIdentifier">
				<xs:sequence>
					<xs:element name="Package" type="oxs:PackageIdentifier" />
					<xs:element name="Owner" type="oxs:OwnerIdentifier" />
				</xs:sequence>
				<xs:attribute name="Name" type="oxs:Name" use="optional" />
				<xs:attribute name="Description" type="oxs:Description" use="optional" />
				<xs:attribute name="Created" type="xs:integer" use="optional" />
				<xs:attribute name="Edited" type="xs:integer" use="optional" />
				<xs:attribute name="Version" type="oxs:Version" use="optional" />
				<xs:attribute name="CostOfSale" type="oxs:CostOfSale" use="optional" />
				<xs:attribute name="RevisionDate" type="xs:integer" use="optional" />
				<xs:attribute name="SourceURL" type="oxs:SourceURL" use="optional" />
				<xs:attribute name="State" type="oxs:State" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateFieldFacts">
		<xs:complexContent>
			<xs:extension base="oxs:DateFieldIdentifier">
				<xs:sequence>
					<xs:element name="DataSource" type="oxs:DataSourceIdentifier" />
					<xs:element name="Industry" type="oxs:IndustryIdentifier" />
				</xs:sequence>
				<xs:attribute name="Label" type="oxs:Label" use="optional" />
				<xs:attribute name="Definition" type="oxs:Definition" use="optional" />
				<xs:attribute name="Selected" type="xs:boolean" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FileAttachmentFacts">
		<xs:complexContent>
			<xs:extension base="oxs:FileAttachmentIdentifier">
				<xs:sequence>
					<xs:element name="DataSource" type="oxs:DataSourceIdentifier" />
				</xs:sequence>
				<xs:attribute name="Name" type="oxs:Name" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Each ORM Major Object Type in the 'PackageBuilderModel' schema-->
	<xs:element name="PackageBuilderModel">
		<xs:complexType>
			<xs:all>
				<xs:element name="OwnerElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Owner" type="oxs:OwnerFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="IndustryElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Industry" type="oxs:IndustryFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PackageElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Package" type="oxs:PackageFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataSourceElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="DataSource" type="oxs:DataSourceFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="DateFieldElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="DateField" type="oxs:DateFieldFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="FileAttachmentElements">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="FileAttachment" type="oxs:FileAttachmentFacts" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
		<!--Key Constraints-->
		<xs:key name="OwnerKey">
			<xs:selector xpath="oxs:OwnerElements/oxs:Owner" />
			<xs:field xpath="@OwnerValue" />
		</xs:key>
		<xs:key name="IndustryKey">
			<xs:selector xpath="oxs:IndustryElements/oxs:Industry" />
			<xs:field xpath="@IndustryValue" />
		</xs:key>
		<xs:key name="PackageKey">
			<xs:selector xpath="oxs:PackageElements/oxs:Package" />
			<xs:field xpath="@Package_Id" />
		</xs:key>
		<xs:key name="DataSourceKey">
			<xs:selector xpath="oxs:DataSourceElements/oxs:DataSource" />
			<xs:field xpath="@DataSource_Id" />
		</xs:key>
		<xs:key name="DateFieldKey">
			<xs:selector xpath="oxs:DateFieldElements/oxs:DateField" />
			<xs:field xpath="@DateField_Id" />
		</xs:key>
		<xs:key name="FileAttachmentKey">
			<xs:selector xpath="oxs:FileAttachmentElements/oxs:FileAttachment" />
			<xs:field xpath="@FileAttachment_Id" />
		</xs:key>
		<!--Uniqueness Constraints-->
		<!--KeyRefs between Major Object Type groupings-->
		<xs:keyref name="PackageOwnerRef" refer="OwnerKey">
			<xs:selector xpath="oxs:PackageElements/oxs:Package" />
			<xs:field xpath="oxs:Owner/@OwnerValue" />
		</xs:keyref>
		<xs:keyref name="PackageIndustryRef" refer="IndustryKey">
			<xs:selector xpath="oxs:PackageElements/oxs:Package" />
			<xs:field xpath="oxs:Industry/@IndustryValue" />
		</xs:keyref>
		<xs:keyref name="DataSourcePackageRef" refer="PackageKey">
			<xs:selector xpath="oxs:DataSourceElements/oxs:DataSource" />
			<xs:field xpath="oxs:Package/@Package_Id" />
		</xs:keyref>
		<xs:keyref name="DataSourceOwnerRef" refer="OwnerKey">
			<xs:selector xpath="oxs:DataSourceElements/oxs:DataSource" />
			<xs:field xpath="oxs:Owner/@OwnerValue" />
		</xs:keyref>
		<xs:keyref name="DateFieldDataSourceRef" refer="DataSourceKey">
			<xs:selector xpath="oxs:DateFieldElements/oxs:DateField" />
			<xs:field xpath="oxs:DataSource/@DataSource_Id" />
		</xs:keyref>
		<xs:keyref name="DateFieldIndustryRef" refer="IndustryKey">
			<xs:selector xpath="oxs:DateFieldElements/oxs:DateField" />
			<xs:field xpath="oxs:Industry/@IndustryValue" />
		</xs:keyref>
		<xs:keyref name="FileAttachmentDataSourceRef" refer="DataSourceKey">
			<xs:selector xpath="oxs:FileAttachmentElements/oxs:FileAttachment" />
			<xs:field xpath="oxs:DataSource/@DataSource_Id" />
		</xs:keyref>
	</xs:element>
</xs:schema>