app/Lace/Source/Lace.Domain.DataProviders.Lightstone.Consumer.Specifications/Service References/LightsoneSpecificationsServiceReference/SQSServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lightstoneconsumer.co.za/SQSServices" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.lightstoneconsumer.co.za/SQSServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lightstoneconsumer.co.za/SQSServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="getRepairHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccessKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRepairHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRepairHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getRepairHistorySoapIn">
    <wsdl:part name="parameters" element="tns:getRepairHistory" />
  </wsdl:message>
  <wsdl:message name="getRepairHistorySoapOut">
    <wsdl:part name="parameters" element="tns:getRepairHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="SQSServicesSoap">
    <wsdl:operation name="getRepairHistory">
      <wsdl:input message="tns:getRepairHistorySoapIn" />
      <wsdl:output message="tns:getRepairHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SQSServicesHttpGet" />
  <wsdl:portType name="SQSServicesHttpPost" />
  <wsdl:binding name="SQSServicesSoap" type="tns:SQSServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRepairHistory">
      <soap:operation soapAction="http://www.lightstoneconsumer.co.za/SQSServices/getRepairHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQSServicesSoap12" type="tns:SQSServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRepairHistory">
      <soap12:operation soapAction="http://www.lightstoneconsumer.co.za/SQSServices/getRepairHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQSServicesHttpGet" type="tns:SQSServicesHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SQSServicesHttpPost" type="tns:SQSServicesHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SQSServices">
    <wsdl:port name="SQSServicesSoap" binding="tns:SQSServicesSoap">
      <soap:address location="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx" />
    </wsdl:port>
    <wsdl:port name="SQSServicesSoap12" binding="tns:SQSServicesSoap12">
      <soap12:address location="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx" />
    </wsdl:port>
    <wsdl:port name="SQSServicesHttpGet" binding="tns:SQSServicesHttpGet">
      <http:address location="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx" />
    </wsdl:port>
    <wsdl:port name="SQSServicesHttpPost" binding="tns:SQSServicesHttpPost">
      <http:address location="http://www.lightstoneconsumer.co.za/Services/SQSServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>