app/Lace/Lace.Source.Anpr/Web References/AnprServiceReference/AnprService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost">
      <s:element name="AnprProcessRecognition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aps" type="tns:AnprSubComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnprSubComplexType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImagetoAnpr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AnprProcessRecognitionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnprProcessRecognitionResult" type="tns:AnprResComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnprResComplexType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PlatePatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Overview" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlateResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Confidence" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnprProcessRecognitionSoapIn">
    <wsdl:part name="parameters" element="tns:AnprProcessRecognition" />
  </wsdl:message>
  <wsdl:message name="AnprProcessRecognitionSoapOut">
    <wsdl:part name="parameters" element="tns:AnprProcessRecognitionResponse" />
  </wsdl:message>
  <wsdl:portType name="AnprServiceSoap">
    <wsdl:operation name="AnprProcessRecognition">
      <wsdl:input message="tns:AnprProcessRecognitionSoapIn" />
      <wsdl:output message="tns:AnprProcessRecognitionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnprServiceSoap" type="tns:AnprServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnprProcessRecognition">
      <soap:operation soapAction="http://localhost/AnprProcessRecognition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnprServiceSoap12" type="tns:AnprServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnprProcessRecognition">
      <soap12:operation soapAction="http://localhost/AnprProcessRecognition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnprService">
    <wsdl:port name="AnprServiceSoap" binding="tns:AnprServiceSoap">
      <soap:address location="http://adslskyhi.dyndns.org:88/AnprService.asmx" />
    </wsdl:port>
    <wsdl:port name="AnprServiceSoap12" binding="tns:AnprServiceSoap12">
      <soap12:address location="http://adslskyhi.dyndns.org:88/AnprService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>