app/Lace.Source.RgtVin/Service References/RgtVinServiceReference/wsVinCheck.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.rgt.co.za/systems/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.rgt.co.za/systems/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.rgt.co.za/systems/">
      <s:element name="VinCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sVIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VinCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckAlt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sVIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheckAltResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VinCheckAltResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheck_List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sVIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VinCheck_ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VinCheck_ListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VinCheckSoapIn">
    <wsdl:part name="parameters" element="tns:VinCheck" />
  </wsdl:message>
  <wsdl:message name="VinCheckSoapOut">
    <wsdl:part name="parameters" element="tns:VinCheckResponse" />
  </wsdl:message>
  <wsdl:message name="VinCheckAltSoapIn">
    <wsdl:part name="parameters" element="tns:VinCheckAlt" />
  </wsdl:message>
  <wsdl:message name="VinCheckAltSoapOut">
    <wsdl:part name="parameters" element="tns:VinCheckAltResponse" />
  </wsdl:message>
  <wsdl:message name="VinCheck_ListSoapIn">
    <wsdl:part name="parameters" element="tns:VinCheck_List" />
  </wsdl:message>
  <wsdl:message name="VinCheck_ListSoapOut">
    <wsdl:part name="parameters" element="tns:VinCheck_ListResponse" />
  </wsdl:message>
  <wsdl:portType name="wsVinCheckSoap">
    <wsdl:operation name="VinCheck">
      <wsdl:input message="tns:VinCheckSoapIn" />
      <wsdl:output message="tns:VinCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VinCheckAlt">
      <wsdl:input message="tns:VinCheckAltSoapIn" />
      <wsdl:output message="tns:VinCheckAltSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VinCheck_List">
      <wsdl:input message="tns:VinCheck_ListSoapIn" />
      <wsdl:output message="tns:VinCheck_ListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsVinCheckSoap" type="tns:wsVinCheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VinCheck">
      <soap:operation soapAction="http://www.rgt.co.za/systems/VinCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheckAlt">
      <soap:operation soapAction="http://www.rgt.co.za/systems/VinCheckAlt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheck_List">
      <soap:operation soapAction="http://www.rgt.co.za/systems/VinCheck_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsVinCheckSoap12" type="tns:wsVinCheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VinCheck">
      <soap12:operation soapAction="http://www.rgt.co.za/systems/VinCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheckAlt">
      <soap12:operation soapAction="http://www.rgt.co.za/systems/VinCheckAlt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VinCheck_List">
      <soap12:operation soapAction="http://www.rgt.co.za/systems/VinCheck_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsVinCheck">
    <wsdl:port name="wsVinCheckSoap" binding="tns:wsVinCheckSoap">
      <soap:address location="http://www.autostats.co.za/Service/wsVinCheck.asmx" />
    </wsdl:port>
    <wsdl:port name="wsVinCheckSoap12" binding="tns:wsVinCheckSoap12">
      <soap12:address location="http://www.autostats.co.za/Service/wsVinCheck.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>