app/Lace/Lace.Source.Ivid/Service References/IvidServiceReference/hpiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch1="http://www.ubiquitech.co.za/schemas/ivid/hpiService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ubiquitech.co.za/schemas/ivid/customTypes/" xmlns:sch0="http://www.ubiquitech.co.za/schemas/ivid/customTypes/" targetNamespace="http://www.ubiquitech.co.za/schemas/ivid/customTypes/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ubiquitech.co.za/schemas/ivid/customTypes/" xmlns="http://www.w3.org/2001/XMLSchema">
      <simpleType name="SteeringType">
        <restriction base="string">
          <enumeration value="LHD" />
          <enumeration value="RHD" />
        </restriction>
      </simpleType>
      <simpleType name="NewOrUsedType">
        <restriction base="string">
          <enumeration value="N" />
          <enumeration value="U" />
        </restriction>
      </simpleType>
      <simpleType name="CountryCodeType">
        <restriction base="string">
          <pattern value="[A-Z0-9]{2}" />
        </restriction>
      </simpleType>
      <simpleType name="NatisCategoryCodeType">
        <restriction base="string">
          <enumeration value="0" />
          <enumeration value="A" />
          <enumeration value="B" />
          <enumeration value="C" />
          <enumeration value="K" />
          <enumeration value="L" />
          <enumeration value="M" />
          <enumeration value="U" />
        </restriction>
      </simpleType>
      <complexType name="IssuesType">
        <sequence>
          <element minOccurs="0" name="PoliceIssue" type="boolean" />
          <element minOccurs="0" name="TaxIssue" type="boolean" />
          <element minOccurs="0" name="InsuranceIssue" type="boolean" />
          <element minOccurs="0" name="FinancingIssue" type="boolean" />
          <element minOccurs="0" name="PermitViolationIssue" type="boolean" />
          <element minOccurs="0" name="StandardsIssue" type="boolean" />
          <element minOccurs="0" name="CommercialIssue" type="boolean" />
          <element minOccurs="0" name="TransportIssue" type="boolean" />
          <element minOccurs="0" name="DescriptionAbuseIssue" type="boolean" />
          <element minOccurs="0" name="OtherIssue" type="boolean" />
        </sequence>
      </complexType>
      <simpleType name="IvidQueryResult">
        <restriction base="string">
          <enumeration value="NO_RECORDS" />
          <enumeration value="NO_ISSUES" />
          <enumeration value="FURTHER_INVESTIGATION" />
        </restriction>
      </simpleType>
      <simpleType name="IdType">
        <restriction base="string">
          <enumeration value="UNKNOWN" />
          <enumeration value="REG_NO_CERTIFICATE" />
          <enumeration value="RSA_ID_DOCUMENT" />
          <enumeration value="FOREIGN_ID_DOC" />
          <enumeration value="BUSINESS_REG_CERTIFICATE" />
          <enumeration value="FOREIGN_PASSPORT" />
          <enumeration value="ID_CARD" />
          <enumeration value="TRAVEL_DOCUMENT" />
          <enumeration value="FOREIGN_DRIVERS_LICENCE" />
          <enumeration value="SA_DRIVERS_LICENCE" />
          <enumeration value="SA_PASSPORT" />
          <enumeration value="REFERENCE_BOOK" />
          <enumeration value="TRANSVAAL_REG_NO" />
          <enumeration value="MERGED_ALIAS" />
          <enumeration value="PSEUDO_PERSON" />
          <enumeration value="OTHER" />
          <enumeration value="NONE" />
        </restriction>
      </simpleType>
      <simpleType name="VehicleState">
        <restriction base="string">
          <enumeration value="INTRODUCED_BY_ONLINE_MIB_CONTROLLED" />
          <enumeration value="INTRODUCED_BY_ONLINE_MIB_RELEASED" />
          <enumeration value="INTRODUCED_BY_NON_MIB" />
          <enumeration value="INTRODUCED_BY_POLICE_PRIVATE_OR_BUSINESS" />
          <enumeration value="REGISTERED_EXEMPT_FROM_LICENSING" />
          <enumeration value="REGISTERED_LIABLE_FOR_LICENSING" />
          <enumeration value="REGISTERED_EXEMPT_AND_LIMITED_OWNER" />
          <enumeration value="DEREGISTERED_BY_REQUEST" />
          <enumeration value="DEREGISTERED_BY_DEFAULT" />
          <enumeration value="EXPORTED_WHILE_EXEMPT_FROM_LICENSING" />
          <enumeration value="EXPORTED_WHILE_LICENSED" />
          <enumeration value="LICENSED" />
          <enumeration value="UNLICENSED_LIABLE_FOR_LICENSING" />
          <enumeration value="PENDING_SALE_FROM_MD_TO_MD" />
          <enumeration value="PENDING_SALE_FROM_MIB_MD_TO_PERSON" />
          <enumeration value="PENDING_NOTIFIED_OF_STOLEN_SCRAPPED" />
          <enumeration value="PENDING_TRANSFER_TO_LIMITED_OWNER" />
          <enumeration value="PENDING_SALE_OF_USED_MV" />
        </restriction>
      </simpleType>
      <complexType name="CodeDescription">
        <sequence>
          <element name="code" type="string" />
          <element name="description" type="string" />
        </sequence>
      </complexType>
      <complexType name="RequesterDetailsElement">
        <attribute name="requesterName" use="required">
          <simpleType>
            <restriction base="string">
              <maxLength value="30" />
            </restriction>
          </simpleType>
        </attribute>
        <attribute name="requesterPhone" use="required">
          <simpleType>
            <restriction base="string">
              <maxLength value="15" />
            </restriction>
          </simpleType>
        </attribute>
        <attribute name="requesterEmail" use="required">
          <simpleType>
            <restriction base="string">
              <maxLength value="40" />
            </restriction>
          </simpleType>
        </attribute>
      </complexType>
    </schema>
    <schema xmlns:ct="http://www.ubiquitech.co.za/schemas/ivid/customTypes/" xmlns:tns="http://www.ubiquitech.co.za/schemas/ivid/hpiService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ubiquitech.co.za/schemas/ivid/hpiService/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://www.ubiquitech.co.za/schemas/ivid/customTypes/" />
      <simpleType name="VbcCertificateNo">
        <annotation>
          <documentation>Uppercase alphanumeric string</documentation>
        </annotation>
        <restriction base="string">
          <whiteSpace value="collapse" />
          <pattern value="[\dA-Z\-]{15}" />
        </restriction>
      </simpleType>
      <element name="HpiStandardQueryRequest">
        <complexType>
          <sequence>
            <element name="HpiRequestReference">
              <simpleType>
                <restriction base="string">
                  <maxLength value="15" />
                </restriction>
              </simpleType>
            </element>
            <element name="ApplicantName">
              <simpleType>
                <restriction base="string">
                  <maxLength value="200" />
                </restriction>
              </simpleType>
            </element>
            <element name="ReasonForApplication">
              <simpleType>
                <restriction base="string">
                  <maxLength value="100" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="0" name="Label">
              <simpleType>
                <restriction base="string">
                  <maxLength value="40" />
                </restriction>
              </simpleType>
            </element>
            <element name="VinOrChassis">
              <simpleType>
                <restriction base="string">
                  <maxLength value="17" />
                </restriction>
              </simpleType>
            </element>
            <element name="EngineNo">
              <simpleType>
                <restriction base="string">
                  <maxLength value="25" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="0" name="RegisterNo">
              <simpleType>
                <restriction base="string">
                  <maxLength value="7" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="0" name="LicenceNo">
              <simpleType>
                <restriction base="string">
                  <maxLength value="20" />
                </restriction>
              </simpleType>
            </element>
            <element name="Make">
              <simpleType>
                <restriction base="string">
                  <maxLength value="3" />
                </restriction>
              </simpleType>
            </element>
            <element minOccurs="0" name="requesterDetails" type="ct:RequesterDetailsElement" />
          </sequence>
        </complexType>
      </element>
      <element name="HpiStandardQueryResponse">
        <complexType>
          <sequence>
            <element name="ividQueryResult" type="ct:IvidQueryResult" />
            <element minOccurs="0" name="issuesTypes" type="ct:IssuesType" />
            <element name="IvidReference" type="tns:VbcCertificateNo" />
            <element minOccurs="0" name="partialResponse" type="boolean" />
            <element minOccurs="0" name="licenceNumber" type="string" />
            <element minOccurs="0" name="registerNumber" type="string" />
            <element minOccurs="0" name="vin" type="string" />
            <element minOccurs="0" name="engineNumber" type="string" />
            <element minOccurs="0" name="titleHolderIdNumber" type="string" />
            <element minOccurs="0" name="titleHolderIdType" type="ct:IdType" />
            <element minOccurs="0" name="vehicleStatusCode" type="ct:VehicleState" />
            <element minOccurs="0" name="engineDisplacement" type="string" />
            <element minOccurs="0" name="make" type="ct:CodeDescription" />
            <element minOccurs="0" name="model" type="ct:CodeDescription" />
            <element minOccurs="0" name="colour" type="ct:CodeDescription" />
            <element minOccurs="0" name="driven" type="ct:CodeDescription" />
            <element minOccurs="0" name="tare" type="string" />
            <element minOccurs="0" name="GVM" type="string" />
            <element minOccurs="0" name="category" type="ct:CodeDescription" />
            <element minOccurs="0" name="description" type="ct:CodeDescription" />
            <element minOccurs="0" name="economicSector" type="ct:CodeDescription" />
            <element minOccurs="0" name="lifeStatus" type="ct:CodeDescription" />
            <element minOccurs="0" name="sapMark" type="ct:CodeDescription" />
            <element minOccurs="0" name="registrationDate" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="HpiStandardQueryRequest">
    <wsdl:part name="HpiStandardQueryRequest" element="sch1:HpiStandardQueryRequest" />
  </wsdl:message>
  <wsdl:message name="HpiStandardQueryResponse">
    <wsdl:part name="HpiStandardQueryResponse" element="sch1:HpiStandardQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="HpiService">
    <wsdl:operation name="HpiStandardQuery">
      <wsdl:input name="HpiStandardQueryRequest" message="sch0:HpiStandardQueryRequest" />
      <wsdl:output name="HpiStandardQueryResponse" message="sch0:HpiStandardQueryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HpiServiceSoap11" type="sch0:HpiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HpiStandardQuery">
      <soap:operation soapAction="" />
      <wsdl:input name="HpiStandardQueryRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HpiStandardQueryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HpiServiceService">
    <wsdl:port name="HpiServiceSoap11" binding="sch0:HpiServiceSoap11">
      <soap:address location="https://secure1.ubiquitech.co.za:443/ivid/ws/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>